$primary-color: #54b2af;
$secondary-color: #1d4b4a;
$bg-color: #b1dbd7;
$font-color: #5a3e2b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  background-color: $bg-color;
  color: $font-color;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 800px;
    height: 900px;
    margin: 30px;
    padding: 30px;
    background: #fff;
    border-radius: 12px;
  }

  .add-task-container {
    width: 100%;

    button {
      background-color: $primary-color;
      color: #fff;
      font-size: 1.2rem;
      padding: 5px 35px;
      margin: 15px 0;
      border: none;
      border-radius: 5px;
    }

    input {
      border: none;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 5px;
      font-size: 1.2rem;
    }
  }
}
